In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt 
% matplotlib inline

In [2]:
data = pd.read_csv('adult.csv')
data.head()

data['education'].value_counts()
data.shape

(48842, 15)

In [3]:
col_names = data.columns

num_data = data.shape[0]
for c in col_names:
    num_non = data[c].isin(["?"]).sum()
    if num_non > 0:
        print (c)
        print (num_non)
        print ("{0:.2f}%".format(float(num_non) / num_data * 100))
        print ("\n")

workclass
2799
5.73%


occupation
2809
5.75%


native-country
857
1.75%

In [4]:
data = data[data["workclass"] != "?"]
data = data[data["occupation"] != "?"]
data = data[data["native-country"] != "?"]

data.shape
data.head(30)
data[data['education'] == 'Prof-school']
#data['education'].value_counts()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
7,63,Self-emp-not-inc,104626,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,3103,0,32,United-States,>50K
197,42,Self-emp-inc,240628,Prof-school,15,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,0,50,United-States,>50K
231,38,Private,237943,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,<=50K
259,72,Self-emp-not-inc,243769,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Male,0,1429,20,United-States,<=50K
357,50,Self-emp-not-inc,165001,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,99999,0,80,United-States,>50K
365,43,Self-emp-inc,209547,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,25,United-States,>50K
418,54,Self-emp-inc,159219,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,99999,0,40,United-States,>50K
499,62,State-gov,312286,Prof-school,15,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,35,United-States,<=50K
611,29,Private,293073,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,7298,0,48,United-States,>50K
673,59,Local-gov,240030,Prof-school,15,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
726,53,Self-emp-inc,94214,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,7298,0,50,Thailand,>50K
747,41,State-gov,186990,Prof-school,15,Widowed,Prof-specialty,Not-in-family,Other,Female,0,0,52,United-States,>50K
775,27,State-gov,152560,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,<=50K
810,46,Private,199378,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,90,United-States,<=50K
851,41,Self-emp-inc,214247,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,2415,60,United-States,>50K
882,44,Private,217039,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,99999,0,60,United-States,>50K
921,37,Private,116409,Prof-school,15,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
964,49,Private,186256,Prof-school,15,Married-civ-spouse,Sales,Husband,White,Male,0,0,40,United-States,>50K
979,53,Self-emp-not-inc,174102,Prof-school,15,Divorced,Prof-specialty,Unmarried,White,Male,25236,0,60,United-States,>50K
992,59,Self-emp-inc,77816,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,99999,0,40,United-States,>50K
1121,31,Local-gov,378426,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,99,Columbia,<=50K
1131,44,Private,120277,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,99999,0,60,United-States,>50K
1157,56,Self-emp-inc,124137,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,99999,0,45,United-States,>50K
1170,44,Private,238574,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,>50K
1190,56,Self-emp-not-inc,296991,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,55,England,>50K
1202,31,Private,250087,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,>50K
1273,44,Self-emp-not-inc,193882,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,>50K
1379,33,Self-emp-not-inc,103435,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,7688,0,50,United-States,>50K
1400,34,Private,24361,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Female,10520,0,40,United-States,>50K
1469,40,State-gov,105936,Prof-school,15,Never-married,Prof-specialty,Own-child,White,Female,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47547,45,Self-emp-inc,181307,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,15024,0,43,United-States,>50K
47549,43,Private,306440,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,66,France,<=50K
47614,38,Federal-gov,325538,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,>50K
47658,40,Private,110622,Prof-school,15,Married-civ-spouse,Adm-clerical,Other-relative,Asian-Pac-Islander,Female,0,0,40,Philippines,<=50K
47687,29,Private,144592,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,>50K
47699,41,Private,126850,Prof-school,15,Married-civ-spouse,Adm-clerical,Husband,Asian-Pac-Islander,Male,0,0,40,Philippines,<=50K
47754,41,Self-emp-not-inc,204235,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,>50K
47861,55,Self-emp-not-inc,308746,Prof-school,15,Widowed,Prof-specialty,Not-in-family,White,Male,0,0,55,United-States,>50K
47904,45,Self-emp-not-inc,149640,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,30,United-States,>50K
47932,28,State-gov,297735,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,90,United-States,<=50K
48016,40,Self-emp-not-inc,33310,Prof-school,15,Divorced,Other-service,Not-in-family,White,Female,0,2339,35,United-States,<=50K
48024,38,Local-gov,161463,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,Black,Male,0,0,40,United-States,>50K
48025,46,Private,186410,Prof-school,15,Never-married,Exec-managerial,Not-in-family,White,Male,0,0,50,United-States,>50K
48026,57,Federal-gov,62020,Prof-school,15,Divorced,Exec-managerial,Not-in-family,Black,Male,0,0,55,United-States,>50K
48062,36,State-gov,89508,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,40,United-States,<=50K
48080,52,Self-emp-not-inc,42984,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,70,United-States,>50K
48099,27,Private,153078,Prof-school,15,Never-married,Prof-specialty,Own-child,Asian-Pac-Islander,Male,0,0,40,United-States,<=50K
48111,33,Private,72338,Prof-school,15,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,65,Japan,>50K
48132,42,Self-emp-not-inc,32546,Prof-school,15,Divorced,Prof-specialty,Unmarried,White,Male,7430,0,40,United-States,>50K
48253,43,Self-emp-inc,62026,Prof-school,15,Married-civ-spouse,Exec-managerial,Husband,White,Male,99999,0,40,United-States,>50K
48271,46,State-gov,250821,Prof-school,15,Married-civ-spouse,Exec-managerial,Husband,White,Male,15024,0,40,United-States,>50K
48412,48,Private,109814,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,1977,45,United-States,>50K
48420,47,Self-emp-not-inc,242391,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,15024,0,40,United-States,>50K
48511,47,Self-emp-inc,102308,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,2415,45,United-States,>50K
48519,47,Private,294913,Prof-school,15,Married-civ-spouse,Exec-managerial,Husband,White,Male,99999,0,40,United-States,>50K
48539,51,Self-emp-inc,28765,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
48651,53,Self-emp-not-inc,137547,Prof-school,15,Never-married,Prof-specialty,Not-in-family,Asian-Pac-Islander,Male,27828,0,40,Philippines,>50K
48717,37,Private,40955,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,>50K
48747,37,Private,121521,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,15024,0,45,United-States,>50K
48829,65,Self-emp-not-inc,99359,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Male,1086,0,60,United-States,<=50K

In [5]:
data.replace(['Divorced', 'Married-AF-spouse', 
              'Married-civ-spouse', 'Married-spouse-absent', 
              'Never-married','Separated','Widowed'],
             ['not married','married','married','married',
              'not married','not married','not married'], inplace = True)

In [6]:
data['education'].replace('Preschool', 'dropout',inplace=True)
data['education'].replace('10th', 'dropout',inplace=True)
data['education'].replace('11th', 'dropout',inplace=True)
data['education'].replace('12th', 'dropout',inplace=True)
data['education'].replace('1st-4th', 'dropout',inplace=True)
data['education'].replace('5th-6th', 'dropout',inplace=True)
data['education'].replace('7th-8th', 'dropout',inplace=True)
data['education'].replace('9th', 'dropout',inplace=True)
data['education'].replace('HS-Grad', 'HighGrad',inplace=True)

data['education'].replace('Some-college', 'CommunityCollege',inplace=True)
data['education'].replace('Assoc-acdm', 'CommunityCollege',inplace=True)
data['education'].replace('Assoc-voc', 'CommunityCollege',inplace=True)
data['education'].replace('Bachelors', 'Bachelors',inplace=True)
data['education'].replace('Masters', 'Masters',inplace=True)
data['education'].replace('Prof-school', 'Masters',inplace=True)
data['education'].replace('Doctorate', 'Doctorate',inplace=True)

In [7]:
data.age = data.age.astype(float)
data['hours-per-week'] = data['hours-per-week'].astype(float)

In [8]:
my_df = data.dropna()

In [9]:
my_df['predclass'] = my_df['income']
del my_df['income']
my_df['education-num'] = my_df['educational-num']
del my_df['educational-num']

In [10]:
my_df[['race', 'education-num']].groupby(['race'], as_index=False).mean().sort_values(by='education-num', ascending=False)

                 race  education-num
1  Asian-Pac-Islander      11.045280
4               White      10.171503
2               Black       9.531220
0  Amer-Indian-Eskimo       9.420690
3               Other       8.745042

In [11]:
my_df['marital-status'].replace('Never-married', 'NotMarried',inplace=True)
my_df['marital-status'].replace(['Married-AF-spouse'], 'Married',inplace=True)
my_df['marital-status'].replace(['Married-civ-spouse'], 'Married',inplace=True)
my_df['marital-status'].replace(['Married-spouse-absent'], 'NotMarried',inplace=True)
my_df['marital-status'].replace(['Separated'], 'Separated',inplace=True)
my_df['marital-status'].replace(['Divorced'], 'Separated',inplace=True)
my_df['marital-status'].replace(['Widowed'], 'Widowed',inplace=True)

In [12]:
my_df['age_bin'] = pd.cut(my_df['age'], 20)
#cut is used to make ranges in the column ie. making a new feature

In [13]:
my_df[['age','predclass']].groupby(['predclass'], as_index = False).mean().sort_values(by = 'age', ascending = False)

  predclass        age
1      >50K  44.006067
0     <=50K  36.749427

In [14]:
my_df['age-hours'] = my_df['age']*my_df['hours-per-week']
my_df['age-hours_bin'] = pd.cut(my_df['age-hours'], 10)
my_df.head(10)

,age,workclass,fnlwgt,education,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,predclass,education-num,age_bin,age-hours,age-hours_bin
0,25.0,Private,226802,dropout,not married,Machine-op-inspct,Own-child,Black,Male,0,0,40.0,United-States,<=50K,7,"(24.3, 27.95]",1000.0,"(909.9, 1798.8]"
1,38.0,Private,89814,HS-grad,married,Farming-fishing,Husband,White,Male,0,0,50.0,United-States,<=50K,9,"(35.25, 38.9]",1900.0,"(1798.8, 2687.7]"
2,28.0,Local-gov,336951,CommunityCollege,married,Protective-serv,Husband,White,Male,0,0,40.0,United-States,>50K,12,"(27.95, 31.6]",1120.0,"(909.9, 1798.8]"
3,44.0,Private,160323,CommunityCollege,married,Machine-op-inspct,Husband,Black,Male,7688,0,40.0,United-States,>50K,10,"(42.55, 46.2]",1760.0,"(909.9, 1798.8]"
5,34.0,Private,198693,dropout,not married,Other-service,Not-in-family,White,Male,0,0,30.0,United-States,<=50K,6,"(31.6, 35.25]",1020.0,"(909.9, 1798.8]"
7,63.0,Self-emp-not-inc,104626,Masters,married,Prof-specialty,Husband,White,Male,3103,0,32.0,United-States,>50K,15,"(60.8, 64.45]",2016.0,"(1798.8, 2687.7]"
8,24.0,Private,369667,CommunityCollege,not married,Other-service,Unmarried,White,Female,0,0,40.0,United-States,<=50K,10,"(20.65, 24.3]",960.0,"(909.9, 1798.8]"
9,55.0,Private,104996,dropout,married,Craft-repair,Husband,White,Male,0,0,10.0,United-States,<=50K,4,"(53.5, 57.15]",550.0,"(12.111, 909.9]"
10,65.0,Private,184454,HS-grad,married,Machine-op-inspct,Husband,White,Male,6418,0,40.0,United-States,>50K,9,"(64.45, 68.1]",2600.0,"(1798.8, 2687.7]"
11,36.0,Federal-gov,212465,Bachelors,married,Adm-clerical,Husband,White,Male,0,0,40.0,United-States,<=50K,13,"(35.25, 38.9]",1440.0,"(909.9, 1798.8]"

In [15]:
from sklearn.cluster import KMeans

from sklearn.metrics import accuracy_score

from sklearn.linear_model import LogisticRegression
from sklearn import svm 
from sklearn.ensemble import RandomForestClassifier 
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier 
from sklearn import metrics 
from sklearn.metrics import confusion_matrix

In [16]:
from sklearn.svm import SVR
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

In [17]:
lb = LabelEncoder()
my_df = my_df.apply(lb.fit_transform)
my_df['marital-status'].value_counts()
#my_df.head(25)

1    23583
0    21639
Name: marital-status, dtype: int64

In [18]:
drop_elements = ['education', 'native-country', 'predclass', 'age_bin', 'age-hours_bin']
y = my_df["predclass"]
X = my_df.drop(drop_elements, axis=1)
X.head(90)

X.describe()

,age,workclass,fnlwgt,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,education-num,age-hours
count,45222.000000,45222.000000,45222.000000,45222.000000,45222.000000,45222.000000,45222.000000,45222.000000,45222.000000,45222.000000,45222.000000,45222.000000,45222.000000
mean,21.547941,2.204502,12852.733426,0.521494,5.969572,1.412697,3.680288,0.675048,6.723475,2.265977,39.912410,9.118460,648.351555
std,13.217870,0.958122,7461.841046,0.499543,4.026400,1.597227,0.832353,0.468362,23.916018,10.942982,11.909581,2.552881,245.149741
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,11.000000,2.000000,6515.250000,0.000000,2.000000,0.000000,4.000000,0.000000,0.000000,0.000000,39.000000,8.000000,477.000000
50%,20.000000,2.000000,12671.500000,1.000000,6.000000,1.000000,4.000000,1.000000,0.000000,0.000000,39.000000,9.000000,648.000000
75%,30.000000,2.000000,18994.750000,1.000000,9.000000,3.000000,4.000000,1.000000,0.000000,0.000000,44.000000,12.000000,820.000000
max,73.000000,6.000000,26740.000000,1.000000,13.000000,5.000000,4.000000,1.000000,120.000000,96.000000,95.000000,15.000000,1382.000000

In [19]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=2)

In [20]:
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler

In [21]:
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [55]:
import keras
from keras.models import Sequential
from keras.layers import Dense

In [71]:
classifier = Sequential()

classifier.add(Dense(output_dim = 20, init = 'uniform', activation = 'relu', input_dim = 13))

classifier.add(Dense(output_dim = 30, init = 'uniform', activation = 'relu'))

classifier.add(Dense(output_dim = 20, init = 'uniform', activation = 'relu'))

classifier.add(Dense(output_dim = 1, init = 'uniform', activation = 'sigmoid'))

classifier.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

classifier.fit(X_train, y_train, batch_size = 10, nb_epoch = 30)

y_pred = classifier.predict(X_test)

C:\vishal\anaconda\lib\site-packages\ipykernel_launcher.py:3: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", input_dim=13, units=20, kernel_initializer="uniform")`
  This is separate from the ipykernel package so we can avoid doing imports until
C:\vishal\anaconda\lib\site-packages\ipykernel_launcher.py:5: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", units=30, kernel_initializer="uniform")`
  """
C:\vishal\anaconda\lib\site-packages\ipykernel_launcher.py:7: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", units=20, kernel_initializer="uniform")`
  import sys
C:\vishal\anaconda\lib\site-packages\ipykernel_launcher.py:9: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="sigmoid", units=1, kernel_initializer="uniform")`
  if __name__ == '__main__':
C:\vishal\anaconda\lib\site-packages\keras\models.py:848: UserWarning: The `nb_epoch` argument in `fit` has been renamed `epochs`.
  warnings.warn('The `nb_epoch` argument in `fit` '

Epoch 1/30
36177/36177 [==============================] - 6s - loss: 0.3473 - acc: 0.8345     - ETA: 1s - loss:
Epoch 2/30
36177/36177 [==============================] - 5s - loss: 0.3345 - acc: 0.8404
Epoch 3/30
36177/36177 [==============================] - 5s - loss: 0.3337 - acc: 0.8405
Epoch 4/30
36177/36177 [==============================] - 6s - loss: 0.3324 - acc: 0.8429
Epoch 5/30
36177/36177 [==============================] - 6s - loss: 0.3313 - acc: 0.8429
Epoch 6/30
36177/36177 [==============================] - 5s - loss: 0.3307 - acc: 0.8434     - ETA: 2s - loss: 0.3303  - ETA: 1s -
Epoch 7/30
36177/36177 [==============================] - 5s - loss: 0.3303 - acc: 0.8435     - ETA: 1s - loss: 0.3323 - ETA: 0s - loss: 0.3309 - ac
Epoch 8/30
36177/36177 [==============================] - 5s - loss: 0.3290 - acc: 0.8445
Epoch 9/30
36177/36177 [==============================] - 5s - loss: 0.3273 - acc: 0.8463
Epoch 10/30
36177/36177 [==============================] - 5s - loss: 0.3250 - acc: 0.8468
Epoch 11/30
36177/36177 [==============================] - 5s - loss: 0.3234 - acc: 0.8478     - ETA: 3s - los
Epoch 12/30
36177/36177 [==============================] - 5s - loss: 0.3219 - acc: 0.8487
Epoch 13/30
36177/36177 [==============================] - 5s - loss: 0.3208 - acc: 0.8489     - ETA: 0s - loss:
Epoch 14/30
36177/36177 [==============================] - 5s - loss: 0.3198 - acc: 0.8492     - ETA: 3s - loss
Epoch 15/30
36177/36177 [==============================] - 5s - loss: 0.3194 - acc: 0.8490
Epoch 16/30
36177/36177 [==============================] - 5s - loss: 0.3185 - acc: 0.8499
Epoch 17/30
36177/36177 [==============================] - 5s - loss: 0.3178 - acc: 0.8502
Epoch 18/30
36177/36177 [==============================] - 6s - loss: 0.3180 - acc: 0.8501
Epoch 19/30
36177/36177 [==============================] - 5s - loss: 0.3172 - acc: 0.8504     -  - ETA: 1s - l
Epoch 20/30
36177/36177 [==============================] - 5s - loss: 0.3171 - acc: 0.8503
Epoch 21/30
36177/36177 [==============================] - 5s - loss: 0.3163 - acc: 0.8507     - ETA: 1s - loss:
Epoch 22/30
36177/36177 [==============================] - 5s - loss: 0.3164 - acc: 0.8506
Epoch 23/30
36177/36177 [==============================] - 5s - loss: 0.3160 - acc: 0.8506
Epoch 24/30
36177/36177 [==============================] - 5s - loss: 0.3151 - acc: 0.8514
Epoch 25/30
36177/36177 [==============================] - 5s - loss: 0.3156 - acc: 0.8502
Epoch 26/30
36177/36177 [==============================] - 5s - loss: 0.3148 - acc: 0.8513
Epoch 27/30
36177/36177 [==============================] - 5s - loss: 0.3147 - acc: 0.8513
Epoch 28/30
36177/36177 [==============================] - 5s - loss: 0.3143 - acc: 0.8516
Epoch 29/30
36177/36177 [==============================] - 5s - loss: 0.3141 - acc: 0.8519
Epoch 30/30
36177/36177 [==============================] - 5s - loss: 0.3130 - acc: 0.8523

In [226]:
y_pred = classifier.predict(X_test)

In [227]:
y_pred

array([[ 0.04275554],
       [ 0.00544516],
       [ 0.38067475],
       ...,
       [ 0.06810465],
       [ 0.18523501],
       [ 0.05887975]], dtype=float32)

In [228]:
y_pred = (y_pred > 0.25) #can take .30 also for the threshold ie:- find the best parameter for that.I got 80% in test by this.

from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)

In [229]:
cm

array([[5264, 1519],
       [ 313, 1949]])

In [230]:
5264+1949

7213

In [231]:
7213/9045

0.7974571586511885

In [281]:
from keras.models import save_model

In [292]:
classifier.save('ann_salary_prediction_new.h5')

In [293]:
from keras.models import load_model

In [296]:
cf = load_model('ann_salary_prediction_new.h5')

In [297]:
z = cf.predict(test_data_1)
z

array([[ 0.00120195]], dtype=float32)

In [298]:
from sklearn.externals import joblib

In [299]:
import pickle
scalerfile = 'sc.sav'
pickle.dump(sc, open(scalerfile, 'wb'))

In [300]:
import pickle
scalerfile = 'sc.sav'
scaler = pickle.load(open(scalerfile, 'rb'))

In [301]:

test_data_1  = [8,2,18119,1,6,3,2,1,0,0,39,6,442]



test_data_1 = np.array(test_data_1)
test_data_1 = test_data_1.reshape(1,13)
test_data_1.shape
test_data_1 = scaler.transform(test_data_1)

C:\vishal\anaconda\lib\site-packages\sklearn\utils\validation.py:429: DataConversionWarning: Data with input dtype int32 was converted to float64 by StandardScaler.
  warnings.warn(msg, _DataConversionWarning)

In [302]:
z = (cf.predict(test_data_1))
z[0][0]*100

0.12019536225125194